/*
 *  filename: assets/scss/home/muisc.scss
 *  description: -
 **/

#music {
}

#music-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-gap: 40px;
}

.release {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-image {
    width: 100%;
    height: 100%;
    transition: transform 200ms;

    &:hover {
        transform: scale(85%);
    }
}
