#loading {
    display: flex;
    position: fixed;
    width: 100vw;
    height: fill-available;
    background: #000;
    overflow: hidden;
    z-index: 100;
    transition: opacity 1000ms, z-index 500ms;
    justify-content: center;
    align-items: center;
}

#emblem-clean {
    background: url("emblem_clean.png");
    width: 100px;
    height: 100px;
    background-size: 100%;
    animation: scale 300ms infinite alternate;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.fade-out {
    opacity: 0;
    z-index: -1 !important;
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/************************************
*             TOUR                  *
************************************/
#tour {
    flex-flow: column;
}

.tour-line {
    width: 100%;
    min-height: 75px;
    border: 1px solid #000;
    display: flex;
    font-weight: 200;
    letter-spacing: 2px;
    flex-flow: row;
    align-items: center;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
}

a.show {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

.tour-line > div {
    margin: 10px;
}

.tour-line:hover {
    opacity: 0.8;
}

.odd-tour-line {
    background: rgba(0,0,0, 0.5);
    color: #fff;
}

.even-tour-line {
    background: rgba(100,100,100, 0.6);
    color: #000;
}

.strikethrough {
    text-decoration: line-through;
    color: #fff;
}

.location-info {
    display: flex;
    flex-flow: column;
    letter-spacing: 2px;
    font-weight: 200;
    width: 30%;
}

.show-date {
    width: 30%;
}

.show-name {
    width: 30%;
}

.ticket-button {
    z-index: 100;
}

.emblem-nav.right {
    right: 0;
}

#mailing {
    display: flex;
    flex-flow: column;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    user-select: none;
    transition: font-size 100ms;
    cursor: pointer;
}

.mail {
    background: url("mail.png");
    width: 120px;
    height: 120px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mail-stamp {
    background: url("mail-stamp.png");
    width: 40px;
    height: 40px;
    background-size: 100%;
}

#mailing:hover .mail {
    background: url("mailopen.png");
    width: 120px;
    height: 120px;
    background-size: cover;
}

#mailing .mail .mail-stamp {
    transition: margin-bottom 300ms, opacity 300ms;
}

#mailing:hover .mail .mail-stamp {
    margin-bottom: 100px;
    opacity: 0;
}

#mailing .mail-text {
    transition: transform 100ms, -webkit-transform 100ms;
}

#mailing:hover .mail-text {
    transform: scale(1.15);
}

@media only screen and (max-height: 900px) and (min-width: 900px) {
    #banner {
        min-height: 900px;
    }
}

@media only screen and (max-width: 1400px) {
    .music-link {
        width: 6.5vw;
        height: 6.5vw;
        padding: 0 8.6vw;
        min-height: 30px;
        min-width: 30px;
    }

    .vr {
        height: 9vw;
    }

    #news > img {
        width: 700px;
    }

    .tour-line {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 850px) {
    section {
        padding: 50px 8vw;
    }

    #banner {
        height: calc(100vh - 84px);
    }

    #logo {
        width: 94vw;
    }

    #emblem {
        width: 85vw;
    }

    #music {
    }

    nav > ul > li > a {
        font-size: 1.9vw;
        padding-left: 5.9vw;
        padding-right: 5.9vw;
    }

    #music-grid {
        grid-gap: 20px;
    }

    #mailing {
        font-size: 4vw;
    }

    .mail.hover {
        background: url("mailopen.png");
        width: 120px;
        height: 120px;
        background-size: cover;
    }
    
    .mail-stamp.hover {
        margin-bottom: 100px;
        opacity: 0;
    }
    
    .mail-text.hover {
        -webkit-transform: scale(1.15, 1.15);
    }
}

@media only screen and (max-width: 800px) {
    #news {
    }

    #news > img {
        width: 100%;
    }
    .tour-line {
        font-size: 10px;
    }
}
