/*
 *  filename: assets/scss/_components/navbar.scss
 *  description: -
 **/

nav {
    display: flex;
    justify-content: center;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav > ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    background: #000;
}

nav > ul > li {
    display: flex;
}

nav > ul > li > a {
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 200;
    transition: background 600ms, color 600ms;
    color: #fff;
}

nav > ul > li > a:hover {
    background: #fff;
    color: #000;
}
